<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.red.mapper.UserMapper">
	<!-- SELECT -->
	<select id="getUserSelect" resultType="com.red.domain.UserVO">
		<![CDATA[
		SELECT * FROM t_user
		WHERE use_yn = 'Y' AND user_id = #{user_id} and user_pw = #{user_pw};
		]]>
	</select>
	
	
	<!-- INSERT -->
	<insert id="userInsert" parameterType="com.red.domain.UserVO">
		<![CDATA[
		INSERT INTO t_user(user_id, user_pw, user_nm)
		VALUES(#{user_id}, #{user_pw}, #{user_nm})
		]]>
	</insert>
	
</mapper>